.about-bar {
  width: 95vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .profile-pic {
//   width: 35%;
//   height: auto;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.about-text {
  font-family: 'Aleo', 'Helvetica', 'Arial', sans-serif;
}
