.hero-image {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-h1 {
  font-size: 85pt;
}

.hero-p {
  font-size: 250pt;
}

.hero-h3 {
  font-size: 56pt;
}

.hero-h4 {
  font-size: 20pt;
}

// .a1 {
//   background-color: pink;
// }

// .a2 {
//   background-color: blue;
// }
