.hero-image {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-h1 {
  font-size: 87pt;
}

.hero-h2 {
  font-size: 150px;
}

.hero-h3 {
  font-size: 56pt;
}

.hero-h4 {
  font-size: 16pt;
}
